.mat-card {
    margin-bottom: 20px;
}

.card-text {
    position: relative;
}
.add-to-my-collection {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 22px;
    color: white;
    text-shadow: 1px 1px 1px black;
    transition: all .25s;
    &:hover {
        transform: scale(1.25);
    }
}
img.card-img-top {
    width: 100%;
}