<!--<div class="card-columns">

  <div class="card" *ngFor="let image of images">
    
    <a href="#" class="add-to-my-collection"><i class="fa" [ngClass]="{'fa-star-o': !image.inCollection, 'fa-star': image.inCollection}" (click)="addToCollection(image); $event.preventDefault()" aria-hidden="true"></i></a>
    <img class="card-img-top img-fluid" [src]="image.images.original.url" [alt]="image.slug">
    
    <div class="card-block">
      <div class="card-text">
        <div><i class="fa fa-file-image-o" aria-hidden="true"></i> {{image.id}}.{{image.type}}</div>
        <div *ngIf="image.username"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{image.username}}</div>
        <div><i class="fa fa-info-circle" aria-hidden="true"></i> {{image.rating}}</div>
        <div><i class="fa fa-calendar-o" aria-hidden="true"></i> <small class="text-muted">{{image.import_datetime | date}}</small></div>
      </div>
    </div>

  </div>

</div>-->

<div class="row row-cards">
  <div class="col-sm-3" *ngFor="let image of images">
    <md-card>
      <img md-card-image [src]="image.images.original.url" (click)="openDialog(image)">
      <md-card-content>
        <div><i class="fa fa-file-image-o" aria-hidden="true"></i> {{image.id}}.{{image.type}}</div>
        <div *ngIf="image.username"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{image.username}}</div>
        <div><i class="fa fa-info-circle" aria-hidden="true"></i> {{image.rating}}</div>
        <div><i class="fa fa-calendar-o" aria-hidden="true"></i> <small class="text-muted">{{image.import_datetime | date}}</small></div>
        <a href="#" class="add-to-my-collection"><i class="fa" [ngClass]="{'fa-star-o': !image.inCollection, 'fa-star': image.inCollection}" (click)="addToCollection(image); $event.preventDefault()" aria-hidden="true"></i></a>
      </md-card-content>
    </md-card>
  </div>
</div>