<h1>Search images with Giphy</h1>
<hr>
<app-card [images]="images"></app-card>

<!--<pagination 
    (next)   = "onNext()" 
    (prev)   = "onPrev()" 
    [limit]  = "pagination.limit" 
    [total]  = "pagination.total_count"
    [offset] = "pagination.offset"
></pagination>-->

<pagination 
    (next)   = "onNext()" 
    (prev)   = "onPrev()" 
    [pagination]  = "pagination"   
></pagination>