.card-text {
    position: relative;
}
.add-to-my-collection {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 28px;
    color: #f0ad4e;
    text-shadow: 1px 1px 1px #f0ad4e;
    transition: all .25s;
    &:hover {
        transform: scale(1.25);
    }
}
img.card-img-top {
    width: 100%;
}