<app-navigation></app-navigation>

<!-- Begin page content -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Giphy Search. <i class="fa fa-copyright" aria-hidden="true"></i> 2017. All rights reserved.</span>
  </div>
</footer>