
<div class="pagination">
  <button md-raised-button (click)="handlePrev()" *ngIf="isPrev"><i class="fa fa-chevron-left" aria-hidden="true"></i> Prev</button>
  <button md-raised-button (click)="handleNext()" *ngIf="isNext">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
</div>