<div class="form-inline mt-2 mt-md-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" #search>
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchHandler(search.value)">Search</button>
</div>