<h1>Upload image to Giphy</h1>
<hr>
<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div class="form-group row" [ngClass]="{'has-danger': usernameError}">
        <div class="col-sm-6">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username" required formControlName="username">
            <div class="form-control-feedback">{{ usernameError }}</div>
        </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-danger': fileError}">
        <div class="col-sm-6">
            <label for="file">Image</label>
            <input type="file" class="form-control" id="file" name="file" required formControlName="file" (change)="onChange($event)">
            <div class="form-control-feedback">{{ fileError }}</div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="tags">Tags</label>
            <input type="text" class="form-control" id="tags" name="tags" formControlName="tags">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>